### Last time
I made some mistakes in my echo transfer map-generating scripts, which meant that some wells were overdrawn. I've added some extra saftey margin and I'll separate out my plates into seperate loops so that it makes a little more sense

In [2]:
from PlateObjects import *

aracadonic = SourcePlateCompound('Arachadonic acid',['C'+str(i) for i in range(1,10)],ldv=False)
DMSO = SourcePlateCompound('DMSO',['D'+str(i) for i in range(1,24)],ldv=False)

assayplate1 = AssayPlate()
assayplate2 = AssayPlate()
assayplate3 = AssayPlate()
assayplate4 = AssayPlate()

# sanity check
print('DMSO:\n',DMSO.wells)
print('Aracadonic acid:\n',aracadonic.wells)

for vol in [20,30,40]:
    for repeat in range(8):
        block1 = Block(aracadonic,DMSO,vol)
        assayplate1.AddBlocks(block1)

for vol in [20,30,40]:
    for repeat in range(8):      
        block2 = Block(aracadonic,DMSO,vol)
        assayplate2.AddBlocks(block2)
        
for vol in [20,30,40]:
    for repeat in range(8):
        block3 = Block(aracadonic,DMSO,vol)
        assayplate3.AddBlocks(block3)
        
for vol in [20,30,40]:
    for repeat in range(8):
        block4 = Block(aracadonic,DMSO,vol)
        assayplate4.AddBlocks(block4)

        
# sanity check part 2
# dispensing math happens when blocks are initialised
print('\n\nPost-dispense:\n')
print('DMSO:\n',DMSO.wells)
print('Aracadonic acid:\n',aracadonic.wells)


assayplate1.MapWells()
assayplate2.MapWells()
assayplate3.MapWells()
assayplate4.MapWells()

transferMap1 = assayplate1.TransferPlan
transferMap2 = assayplate2.TransferPlan
transferMap3 = assayplate3.TransferPlan
transferMap4 = assayplate4.TransferPlan

DMSO:
 {'D1': 60000, 'D2': 60000, 'D3': 60000, 'D4': 60000, 'D5': 60000, 'D6': 60000, 'D7': 60000, 'D8': 60000, 'D9': 60000, 'D10': 60000, 'D11': 60000, 'D12': 60000, 'D13': 60000, 'D14': 60000, 'D15': 60000, 'D16': 60000, 'D17': 60000, 'D18': 60000, 'D19': 60000, 'D20': 60000, 'D21': 60000, 'D22': 60000, 'D23': 60000}
Aracadonic acid:
 {'C1': 60000, 'C2': 60000, 'C3': 60000, 'C4': 60000, 'C5': 60000, 'C6': 60000, 'C7': 60000, 'C8': 60000, 'C9': 60000}


Post-dispense:

DMSO:
 {'D1': 19995.0, 'D2': 18505.0, 'D3': 19430.0, 'D4': 18085.0, 'D5': 19025.0, 'D6': 19625.0, 'D7': 19635.0, 'D8': 19772.5, 'D9': 18237.5, 'D10': 19927.5, 'D11': 19097.5, 'D12': 19992.5, 'D13': 18997.5, 'D14': 19025.0, 'D15': 19030.0, 'D16': 19230.0, 'D17': 19400.0, 'D18': 19610.0, 'D19': 19927.5, 'D20': 18085.0, 'D21': 52567.5, 'D22': 60000, 'D23': 60000}
Aracadonic acid:
 {'C1': 19210.0, 'C2': 18490.0, 'C3': 19210.0, 'C4': 18490.0, 'C5': 19210.0, 'C6': 18490.0, 'C7': 19210.0, 'C8': 18490.0, 'C9': 60000}

In [13]:
transferMap1.to_csv('20191221_transferMap1.csv')
transferMap2.to_csv('20191221_transferMap2.csv')
transferMap3.to_csv('20191221_transferMap3.csv')
transferMap4.to_csv('20191221_transferMap4.csv')

In [14]:
transferMap1 == transferMap4 # looks better

     SrcWell  Destination Well  Volume
0      False              True    True
1      False              True    True
2      False              True    True
3      False              True    True
4      False              True    True
5      False              True    True
6      False              True    True
7      False              True    True
8      False              True    True
9      False              True    True
10     False              True    True
11     False              True    True
12     False              True    True
13     False              True    True
14     False              True    True
15     False              True    True
16     False              True    True
17     False              True    True
18     False              True    True
19     False              True    True
20     False              True    True
21     False              True    True
22     False              True    True
23     False              True    True
24     False              True    True
25     False              True    True
26     False              True    True
27     False              True    True
28     False              True    True
29     False              True    True
..       ...               ...     ...
738    False              True    True
739    False              True    True
740    False              True    True
741    False              True    True
742    False              True    True
743    False              True    True
744    False              True    True
745    False              True    True
746    False              True    True
747    False              True    True
748    False              True    True
749    False              True    True
750    False              True    True
751    False              True    True
752    False              True    True
753    False              True    True
754    False              True    True
755    False              True    True
756    False              True    True
757    False              True    True
758    False              True    True
759    False              True    True
760    False              True    True
761    False              True    True
762    False              True    True
763    False              True    True
764    False              True    True
765    False              True    True
766    False              True    True
767    False              True    True

[768 rows x 3 columns]